<div class="container marketing">

  <% if !@message_groups.empty? %>
    <% @message_groups.each do |row| %>
      <div class="courses">
        <% row.each do |message| %>
          <div class="course">
            <%= render message %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
    No Messages found
    </p>
  <% end %>
</div>
