<div class='container1'>
  <div class="tutorial-page">
    <div class="boxed-group">
      <h3><i class="fa fa-plus fa-lg"></i> 手术及外伤情况</h3>
      <div class="boxed-group-inner videos-section">
        <div class="tutorial-nav added-videos-wrap">
            <%= render "all_added_operations", :user=>@user %>
        </div><!-- end tutorial-nav -->
        <div class="tutorial-content add-video-wrap">
          <%= render "add_operation", :user=>@user %>
        </div>
      </div>  <!-- boxed-group-inner -->
    </div> <!-- boxed-group -->
  </div><!-- end tutorial-page -->
</div>
