<div class="single-form-container">
  <div class="boxed-group" id="login">
    <h3>基本情况</h3>
    <div class="boxed-group-inner">
      <%= form_for @basic_info, :url =>"/update_myinfo" do |f| %>
        <%= f.hidden_field :id %>
        <dl class="form">
          <dt>
          <%= f.label '真实姓名' %>
          </dt>
          <dd>
          <%= f.text_field  :name, :class => "short", :placeholder => "请输入真实姓名" %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '年龄' %>
          </dt>
          <dd>
          <%= f.text_field  :age, :class => "short", :placeholder => "请输入两位数字的年龄" %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '性别' %>
          </dt>
          <dd>
          <%= f.select(:gender,'<option value="male" >男</option><option value="female" >女</option>'.html_safe ) %>  
	</dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '身高(cm)' %>
          </dt>
          <dd>
          <%= f.text_field  :height, :class => "short", :placeholder => "如175"  %>
          </dd>
        </dl>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '体重(kg)' %>
          </dt>
          <dd>
          <%= f.text_field  :weight, :class => "short", :placeholder => "如85"  %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '吸烟状态' %>
          </dt>
          <dd>
          <%= f.select(:smokeinfo,'<option value="never" >从不/极少</option><option value="sometimes" >偶尔</option><option value="offen" >经常</option>'.html_safe ) %>  
	</dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '饮酒状态' %>
          </dt>
          <dd>
          <%= f.select(:drink,'<option value="never" >从不/极少</option><option value="sometimes" >偶尔</option><option value="offen" >经常</option>'.html_safe ) %>  
	</dd>
        </dl>
	<p style="height: 10px;" ></p>
        <p> <%= f.submit '保存', :class => "button primary" %> </p>
      <% end %>
    </div>
  </div>
</div>
