<% content_for :template_js do %>
  <script>
$('#basic_info_smokeinfo').on('change', function() {
  if (this.value=="never"){
  document.getElementById("display_smoke").style.display="none";	
  }else{
  document.getElementById("display_smoke").style.display="inline";	
  }
});

$('#basic_info_drink').on('change', function() {
  if (this.value=="never"){
  document.getElementById("display_drink").style.display="none";	
  }else{
  document.getElementById("display_drink").style.display="inline";	
  }
});

$('#basic_info_have_allergy').on('change', function() {
  if (this.value=="false"){
  document.getElementById("display_allergy").style.display="none";	
  }else{
  document.getElementById("display_allergy").style.display="inline";	
  }
});
$('#basic_info_height').on('change', function() {
	var x = parseFloat($('#basic_info_weight').val())*10000;
        var y = parseFloat($('#basic_info_height').val())*parseFloat($('#basic_info_height').val());
	var bmi = (x/y).toFixed(2);
	if(bmi!='Infinity' && !isNaN(bmi)){
        	$('#bmi').html('体重指数(BMI)'+bmi);
         }else{
        	$('#bmi').html('未正确设置');
	}
});
$('#basic_info_weight').on('change', function() {
	var x = parseFloat($('#basic_info_weight').val())*10000;
        var y = parseFloat($('#basic_info_height').val())*parseFloat($('#basic_info_height').val());
	var bmi = (x/y).toFixed(2);
	$('#bmi').html('体重指数(BMI)'+bmi);
});
</script>
<% end %>

<div class="single-form-container" style="margin-left: 50px;">
  <div class="boxed-group" id="login">
    <h3>基本情况</h3>
    <div class="boxed-group-inner">
      <%= form_for @basic_info, :url =>"/update_myinfo" do |f| %>
        <%= f.hidden_field :id %>
        <dl class="form">
          <dt>
          <%= f.label '真实姓名' %>&nbsp;&nbsp;&nbsp;&nbsp;请输入真实姓名
          </dt>
          <dd>
          <%= f.text_field  :name, :class => "short"  %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '年龄' %>&nbsp;&nbsp;&nbsp;&nbsp;请输入真实年龄
          </dt>
          <dd>
          <%= f.text_field  :age, :class => "short"  %>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '性别' %>
          </dt>
          <dd>
          <%= f.select(:gender,options_for_select([['男', 'male'],['女', 'female']], @basic_info.gender), {}, { :class => 'supershort'} ) %>  
	</dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '身高(cm)' %>
          </dt>
          <dd>
          <%= f.text_field  :height, :class => "short", :placeholder => ""  %>
          </dd>
        </dl>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '体重(kg)' %>
          </dt>
          <dd>
          <%= f.text_field  :weight, :class => "short", :placeholder => ""  %>
           <div id="bmi">体重指数(BMI)为<%= (@basic_info.weight*10000/(@basic_info.height*@basic_info.height)).round(2)  %></div>
          </dd>
        </dl>
        <dl class="form">
          <dt>
          <%= f.label '吸烟状态' %>
          </dt>
          <dd>
          <%= f.select(:smokeinfo,options_for_select([['从不/极少', 'never'],['偶尔', 'sometimes'],['经常', 'offen']], @basic_info.smokeinfo), {}, { :class => 'supershort'} ) %>  
	</dd>
        </dl>
	<div id="display_smoke" style="<%= (@basic_info.smokeinfo.nil? or @basic_info.smokeinfo == 'never') ? 'display: none;' : 'display: inline;'  %>">
        <dl class="form">
          <dt>
          <%= f.label '根/每天' %>
          </dt>
          <dd>
          <%= f.text_field  :smoke_account, :class => "short", :placeholder => "如:2"  %>
	</dd>
        </dl>
	</div>
        <dl class="form">
          <dt>
          <%= f.label '饮酒状态' %>
          </dt>
          <dd>
          <%= f.select(:drink,options_for_select([['从不/极少', 'never'],['偶尔', 'sometimes'],['经常', 'offen']], @basic_info.drink), {}, { :class => 'supershort'} ) %>  
	</dd>
        </dl>
	<div id="display_drink" style="<%= (@basic_info.drink.nil? or @basic_info.drink == 'never') ? 'display: none;' : 'display: inline;'  %>">
        <dl class="form">
          <dt>
          <%= f.label '两/每天' %>
          </dt>
          <dd>
          <%= f.text_field  :drink_account, :class => "short", :placeholder => "如:2"  %>
	</dd>
        </dl>
	</div>
        <dl class="form">
          <dt>
          <%= f.label '过敏史' %>
          </dt>
          <dd>
          <%= f.select(:have_allergy, options_for_select([['无', false],['有', true]], @basic_info.have_allergy), {}, { :class => 'supershort'} ) %>  
          </dd>
        </dl>
	<div id="display_allergy" style="<%= (@basic_info.have_allergy.nil? or @basic_info.have_allergy == false) ? 'display: none;' : 'display: inline;'  %>">
        <dl class="form">
          <dt>
          <%= f.label '过敏源描述' %>&nbsp;&nbsp;&nbsp;&nbsp;填写过敏食物或药物
          </dt>
          <dd>
          <%= f.text_field  :allergy, :class => "short"  %>
	</dd>
        </dl>
	</div>
	<p style="height: 10px;" ></p>
        <p> <%= f.submit '保存', :class => "button primary" %> </p>
      <% end %>
    </div>
  </div>
</div>
