<% executor = notification.executor %>
<% reply = notification.notifiable %>

<%= link_to doctor_path(reply.doctor) do %>
  <span><%= executor.name %></span>
<% end %>
<% if notification.notifiable_type == "Activity" %>
  <span class="annotate">为你关注的课程： </span>
  <%= course_name_tag(notification.notifiable.course_id) %>
<% end %>
