<div class="area mb30 layout">
      <div class="class_item_wrap layout">
        <div class="ctra layout">
          <ul>
            <li><a href="http://www.91160.com/search/index.html">找医院</a></li>
            <li><a href="http://www.91160.com/search/dep.html">找科室</a></li>
            <li class="cur"><a href="javascript:void(0);">找医生</a></li>
                      </ul>
        </div>
          <div class="class_chose layout seek_choose ">
          <div class="city_search_choose layout">
          <div class="city_choose search_list fl"> <!-- on  -->
            <div class="city_now fl">
              <i class="g_icon g_area"></i>
              <span class="city_name">全国</span>
              <a class="search_city_now fs12">更换</a>
            </div>
            <div class="city_all_choose">
              <div class="closeDiv">
                <a href="javascript:void(0);"><i class="g_icon g_close"></i></a>
              </div>
              <div class="hot_city layout">
                <div class="fl city_l">热门城市：</div>
                <div class="city_list">
                  <ul>
                      <li class="cur"><a href="http://www.91160.com/search/index.html">全国</a></li>
                                                        <li><a href="http://gz.91160.com/search/doctor.html">广州</a></li>
                                                                          <li><a href="http://cs.91160.com/search/doctor.html">长沙</a></li>
                                                                          <li><a href="http://hk.91160.com/search/doctor.html">香港</a></li>
                                                                          <li><a href="http://sh.91160.com/search/doctor.html">上海</a></li>
                                                                          <li><a href="http://wh.91160.com/search/doctor.html">武汉</a></li>
                                                                          <li><a href="http://cq.91160.com/search/doctor.html">重庆</a></li>
                                                                          <li><a href="http://bj.91160.com/search/doctor.html">北京</a></li>
                                                                          <li><a href="http://dg.91160.com/search/doctor.html">东莞</a></li>
                                                                          <li><a href="http://sz.91160.com/search/doctor.html">深圳</a></li>
                                                                          <li><a href="http://haiwai.91160.com/search/doctor.html">海外</a></li>
                                                                          <li><a href="http://zz.91160.com/search/doctor.html">郑州</a></li>
                                                                          <li><a href="http://tj.91160.com/search/doctor.html">天津</a></li>
                                      
                  </ul>
                </div>
              </div>
              <div class="all_city  layout">
                <div class="pro layout">
                  <div class="city_l">请选择省份：</div>
                  <div class="city_list">
                    <ul>
                                          <li onclick="showProCity($(this),2)"><a href="javascript:void(0);">广东</a></li>
                                          <li onclick="showProCity($(this),3260)"><a href="javascript:void(0);">湖南</a></li>
                                          <li class="cur" onclick="showProCity($(this),2913)"><a href="javascript:void(0);">北京</a></li>
                                          <li onclick="showProCity($(this),6144)"><a href="javascript:void(0);">海外</a></li>
                                          <li onclick="showProCity($(this),3305)"><a href="javascript:void(0);">上海</a></li>
                                          <li onclick="showProCity($(this),3313)"><a href="javascript:void(0);">香港</a></li>
                                          <li onclick="showProCity($(this),3241)"><a href="javascript:void(0);">河南</a></li>
                                          <li onclick="showProCity($(this),3275)"><a href="javascript:void(0);">湖北</a></li>
                                          <li onclick="showProCity($(this),3157)"><a href="javascript:void(0);">海南</a></li>
                                          <li onclick="showProCity($(this),3315)"><a href="javascript:void(0);">重庆</a></li>
                                          <li onclick="showProCity($(this),3092)"><a href="javascript:void(0);">四川</a></li>
                                          <li onclick="showProCity($(this),3124)"><a href="javascript:void(0);">黑龙江</a></li>
                                          <li onclick="showProCity($(this),3201)"><a href="javascript:void(0);">河北</a></li>
                                          <li onclick="showProCity($(this),3213)"><a href="javascript:void(0);">广西</a></li>
                                          <li onclick="showProCity($(this),3307)"><a href="javascript:void(0);">天津</a></li>
                                          <li onclick="showProCity($(this),2937)"><a href="javascript:void(0);">山西</a></li>
                                          <li onclick="showProCity($(this),3228)"><a href="javascript:void(0);">内蒙古</a></li>
                                          <li onclick="showProCity($(this),2949)"><a href="javascript:void(0);">山东</a></li>
                                          <li onclick="showProCity($(this),2967)"><a href="javascript:void(0);">云南</a></li>
                                          <li onclick="showProCity($(this),2993)"><a href="javascript:void(0);">福建</a></li>
                                          <li onclick="showProCity($(this),3004)"><a href="javascript:void(0);">安徽</a></li>
                                          <li onclick="showProCity($(this),3022)"><a href="javascript:void(0);">浙江</a></li>
                                          <li onclick="showProCity($(this),3049)"><a href="javascript:void(0);">西藏</a></li>
                                          <li onclick="showProCity($(this),3057)"><a href="javascript:void(0);">辽宁</a></li>
                                          <li onclick="showProCity($(this),3072)"><a href="javascript:void(0);">江苏</a></li>
                                          <li onclick="showProCity($(this),3086)"><a href="javascript:void(0);">宁夏</a></li>
                                          <li onclick="showProCity($(this),3114)"><a href="javascript:void(0);">贵州</a></li>
                                          <li onclick="showProCity($(this),3138)"><a href="javascript:void(0);">新疆</a></li>
                                          <li onclick="showProCity($(this),3179)"><a href="javascript:void(0);">吉林</a></li>
                                          <li onclick="showProCity($(this),3190)"><a href="javascript:void(0);">陕西</a></li>
                                          <li onclick="showProCity($(this),3293)"><a href="javascript:void(0);">江西</a></li>
                                          <li onclick="showProCity($(this),2984)"><a href="javascript:void(0);">青海</a></li>
                                          <li onclick="showProCity($(this),3034)"><a href="javascript:void(0);">甘肃</a></li>
                                        </ul>
                  </div>
                </div>
                <div class="pro_city layout">
                  <div class="city_l layout"><span class="fl">请选择具体城市：</span></div>
                  <div class="city_list" id="show_citys">
                    <ul>
                                                              <li><a href="http://bj.91160.com/search/doctor.html">北京</a></li>
                                                            </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
                <!-- 筛选条件 -->
                    <!-- 筛选条件  end-->
        </div>
        <div class="class_chose layout">
        <ul class="class_item_ul layout">               
          <li class="layout  get_h" style="overflow: hidden;">
          <label class="more_btn b_open" style="display: inline;"><a href="javascript:void(0);">更多<i class="icon more_arrow"></i></a></label>
           <label class="more_btn b_close"><a href="javascript:void(0);">收起<i class="icon more_arrow_top"></i></a></label>
           <span>科室类型：</span>
           <a style="margin-left: 15px;" class="cur" href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/isopen-1/ysort-1.html">全部</a>
                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-A/isopen-1/ysort-1.html">内科</a>
            	                                                                                                                                                                                                                                                                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-B/isopen-1/ysort-1.html">外科</a>
            	                                                                                                                                                                                                                                                                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-E/isopen-1/ysort-1.html">儿科</a>
            	                                                                                                                                                                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-G/isopen-1/ysort-1.html">男科</a>
            	                                                                                                                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-D/isopen-1/ysort-1.html">妇产科</a>
            	                                                                                                                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-F/isopen-1/ysort-1.html">五官科</a>
            	                                                                                                                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-C/isopen-1/ysort-1.html">肿瘤科</a>
            	                                                                                                                                                                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-U/isopen-1/ysort-1.html">遗传病科</a>
            	                                                                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-M/isopen-1/ysort-1.html">中医科</a>
            	                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-K/isopen-1/ysort-1.html">中西医结合科</a>
            	                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-H/isopen-1/ysort-1.html">传染病科</a>
            	                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-J/isopen-1/ysort-1.html">精神心理科</a>
            	                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-L/isopen-1/ysort-1.html">生殖健康科</a>
            	                                                                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-I/isopen-1/ysort-1.html">皮肤性病科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-N/isopen-1/ysort-1.html">康复医学科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-Q/isopen-1/ysort-1.html">介入医学科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-P/isopen-1/ysort-1.html">整形美容科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-R/isopen-1/ysort-1.html">麻醉医学科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-T/isopen-1/ysort-1.html">医学影像科</a>
            	                                                            	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-S/isopen-1/ysort-1.html">职业病科</a>
            	                                                                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-Z/isopen-1/ysort-1.html">疼痛科</a>
            	                                    	<a href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/cno-O/isopen-1/ysort-1.html">其他</a>
            	                                                                                              </li>
            <li class="layout" style="background: none;">
           <span>开通服务：</span>
            <a style="margin-left: 15px;" class="cur" href="http://www.91160.com/search/doctor/server-0/aid-0/disease_id-0/isopen-1/ysort-1.html">全部</a>
            <a href="http://www.91160.com/search/doctor/server-1/aid-0/disease_id-0/isopen-1/ysort-1.html">挂号</a>
            <a href="http://www.91160.com/search/doctor/server-2/aid-0/disease_id-0/isopen-1/ysort-1.html">加号</a>
            <a href="http://www.91160.com/search/doctor/server-3/aid-0/disease_id-0/isopen-1/ysort-1.html">咨询</a>
            <a href="http://www.91160.com/search/doctor/server-4/aid-0/disease_id-0/isopen-1/ysort-1.html">私人医生</a>
            
           
          </li>
        </ul>
        </div>
        <!-- <div class="chose_int layout">
          <em class="fs12">您的选择：</em>
          <i class="fs12">
          <a href="http://www.91160.com/comments/index/p-1.html" class="close_X">x</a>
          </i>
          <i class="fs12">妇科
          <a href="http://www.91160.com/comments/index.html" class="close_X">x</a>
          </i>

        </div> -->
      </div>
    </div>
