      
    <link type="text/css" rel="stylesheet" href="160files/style&f=global.css,global_icon_v4.css,default.css">
    <script type="text/javascript" charset="utf-8" src="160files/c.js"></script><link href="160files/ec_layout.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"><link href="160files/layout.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"><link href="160files/pic_layout.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all"><script type="text/javascript" charset="utf-8" src="160files/f.js"></script><script type="text/javascript" charset="utf-8" src="160files/p.js"></script><script type="text/javascript" charset="utf-8" src="160files/d.js"></script><link href="160files/layout_box.css" rel="stylesheet" rev="stylesheet" type="text/css" media="all">
    <!-- 所有a  有值的添加title属性 -->
       
        <!--content-->
        <main>
             <%= render 'shared/head_nav' %>
             <div class="content w960 layout">
             <%= render 'shared/doctor_result', :doctor_groups => doctor_groups, :process=>process, :user=>user  %>
             </div>
           </main>

<!--footer-->
<!-- footer -->


<link type="text/css" rel="stylesheet" href="160files/style&f=artDialogSkin.css,login.css">
<link type="text/css" rel="stylesheet" href="160files/style&f=global.css,search_v4.css">
<script type="text/javascript" src="160files/jquery-1.9.1.min.js"></script>
<script>window.jQuery || document.write('<script src="http://webimg.91160.com/static/v4/common/jquery-1.9.1.min.js"><\/script>')</script>
<script src="160files/common.js"></script>
<script src="160files/nykj.js"></script>
<script src="160files/jquery.tab.js"></script>
<link rel="stylesheet" href="160files/default.css"><script src="160files/artDialog.js"></script>
<script>
var _default_v4_path_="http://webimg.91160.com/static/v4";
</script>
<!--[if IE 6]>
<script src="http://webimg.91160.com/static/v2/common/DD_belatedPNG_0.0.8a-min.js"></script>
<script>DD_belatedPNG.fix('.patch-png,.search-input');</script>
<script>DD_belatedPNG.fix('.');</script>
<![endif]-->
<!--end footer-->
<!-- 统计代码 -->
<!--end footer--> 
<!--[if IE 6]>
    <script src="js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('i.msg_c,i.g_sicon,.erm_tips');
    </script>
<![endif]-->

<script type="text/javascript" src="160files/common_7.23a.js"></script>
  
<script>
    var ShowPre1 = new ShowPre({box: "gd_ban_ul", Pre: "hrefImg", Next: "nextImg", loop: 1, auto: 1});
</script>                                       
  
<script type="text/javascript" src="160files/default.js"></script>


