<div class="header w960 layout  header_no " id="headerWrap" style="margin-top:0px">
			<div class="fl logo_info" style="display:none">
				<div class="s_logo fl">
                                                                    <a class="jiuyilogo" href="http://www.91160.com/"><img class="patch-png" alt="华仁医生" title="华仁医生" src="./160files/logo.png"></a>
                                			        
			    </div>
                                 <!-- 找医院、找科室  -->
                                                            
			    			    	<div class="fl">
			        </div>
				    <div class="fl wei_info">
				      <p class="fs12"></p>
				      <p class="fs18"></p>
				    </div>
			    			</div>
			<div class="s_search fr">
				<i class="g_icon g_sicon"></i>
	            <input type="text" name="search_key" id="search_key" value="输入医院名称/医生姓名/科室名称" class="search_input fl ac_input" placeholder="请输入您想搜索的医院、医生、或疾病名称" autocomplete="off" placeholders="请输入您想搜索的医院、医生、或疾病名称" style="color: rgb(153, 153, 153);width:285px">
	            <input type="hidden" id="serch_type" name="search_type" value="0">
	            <input type="submit" value="搜 索" id="btn_search" name="btnSearch" class="btn_border fl btn_search">
	      </div>
			
		</div>
