<div class="header header-logged-out">
  <div class="container clearfix">
    <a class="header-logo-wordmark" href="/">
      华仁医生
    </a>

    <ul class="top-nav">
      <li> <%= link_to "合作机构", message_index_path(:sort => "star") %></li>
      <li><a href="#">服务项目</a></li>
	<li><a href="/#"><%= t("about") %></a></li>
    </ul>

    <div class="header-actions">
      <%= link_to t('sign_in'), login_path, class:"button" %>
    </div>

  </div>
</div>
