<div class="container clearfix">

  <div class="marketing">
    <h1>最新消息</h1>
    <ul class="sort-label clearfix">
      <li class="active" data-type="star"><a href="#">按关注人数排序</a></li>
      <li data-type="time"><a href="#">按创建时间排序</a></li>
    </ul>
    <div id="sorted-by-star">
      <% if !@star_messages.empty? %>
        <div class="courses clearfix">
          <% @star_messages.each do |message| %>
            <div class="course">
              <%= render "messages/message", :message => message %>
            </div>
          <% end %>
        </div>
        <%= link_to "查看所有消息", message_index_path(:sort => "star"), class: "all-courses-btn button" %>
      <% else %>
        <p>
        No Messages found
        </p>
      <% end %>
    </div>
    <div id="sorted-by-time" style="display: none;">
      <% if !@recent_messages.empty? %>
        <div class="courses clearfix">
          <% @recent_messages.each do |message| %>
            <div class="course">
              <%= render "messages/message", :message => message %>
            </div>
          <% end %>
        </div>
        <%= link_to "查看所有消息", message_index_path(:sort => "time"), class: "all-courses-btn button" %>
      <% else %>
        <p>
        No Messages found
        </p>
      <% end %>
    </div>
  </div>

</div>

<% content_for :template_js do %>
  <script>
    var menuItems = $(".sort-label li");

    menuItems.on("click", function(event) {

      menuItems.removeClass("active");
      $(this).addClass("active");

      var type = $(this).data("type");

      if (type == "star") {
        $("#sorted-by-time").css("display", "none");
        $("#sorted-by-star").css("display", "block");
      }else {
        $("#sorted-by-star").css("display", "none");
        $("#sorted-by-time").css("display", "block");
      }

      event.preventDefault();
    });
  </script>
<% end %>
