<div class="tagline">
  <h1 class="heading">为病人找到尽可能好的医生</h1>
  <div class="subheading">
    <p>
    尽早提出咨询，获得医生反馈，更安心地接受现行的治疗以达到最佳的治疗效果
    </p>
    <p>
    <a href="#">建立以患者为中心的国际远程医疗交流的平台</a>
    </p>
  </div>
</div>
