<div class="container marketing">

  <% if !@sick_case_groups.empty? %>
    <% @sick_case_groups.each do |row| %>
      <div class="courses">
        <% row.each do |sick_case| %>
          <div class="course">
            <%= render sick_case %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
    No Courses found
    </p>
  <% end %>
</div>
