<br/>
免费
<br/>
<form action = "/check_my_doctor" method = "post">
        <input type="hidden" name="doctor" value="<%= @doctor.doctor_id %>" >
        <input type="hidden" name="process" value="commit" >
        <input type="submit" name="commit" value="love" >发起新的咨询</input>
</form>
<br/>
新的
<br/>
<form action = "/check_my_doctor" method = "post">
        <input type="hidden" name="doctor" value="<%= @doctor.doctor_id %>" >
        <input type="hidden" name="process" value="commit" >
        <input type="submit" name="commit" value="fee" >发起新的咨询</input>
</form>
<br>
加号
<br/>
<form action = "/check_my_doctor" method = "post">
        <input type="hidden" name="doctor" value="<%= @doctor.doctor_id %>" >
        <input type="hidden" name="process" value="commit" >
        <input type="submit" name="commit" value="plus" >发起新的咨询</input>
</form>
