<form action = "/check_my_doctor" method = "post">
        <input type="hidden" name="doctor" value="<%= @doctor.name %>" >
        <input type="submit" name="commit" value="commit" >提交咨询</input>
</form>
<br/>
<br/>
<br/>
<form action = "/check_my_doctor" method = "post">
        <input type="hidden" name="doctor" value="<%= @doctor.name %>" >
        <input type="submit" name="commit" value="new" >发起新的咨询</input>
</form>
