// Place all the styles related to the BasicInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#course-desc1 {
  width: 380px;
}
img#poster {
  height: 310px;
}

a#main {
    border-left-width: 20px;
}
