// Place all the styles related to the BasicInfos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea#course-desc1 {
  width: 380px;
}
img#poster {
  height: 310px;
}

#bmi {
   font-size: 16px;
   font-weight: bold;
   color: #ff0000;	
}
#msg-checkout {
  float:right;
}


.sick_desc {
   font-size: 10px;
   font-weight: bold;
   color: #666;
   display: inline;
}

.boxed-group > .all_desc {
    background-color: #ececec;
    margin: 0;
    padding: 10px 20px;
}
.boxed-group > .sick_desc {
    margin: 0;
    padding: 10px 20px;
}
.boxed-group > .h3_desc {
    margin: 0;
    padding: 10px 20px;
}

.h3_desc {
    display: inline;
    font-size: 1.17em;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}



a#main {
    border-left-width: 20px;
}
select.supershort {
    width: 150px;
    height: 30px;
}

.ready-basic-case {
   padding-left: 40px;
}
.commit-basic-case {
   text-align: center;
}
.height-commit {
	height: 30px
}
.small_label{
	width:150px;
}

.dl-horizontal dt {
    float: left;
    width: 160px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 900;
}

.dl-horizontal dd {
    margin-left: 180px;
    font-weight: 10;
}

#bordercss {
    border-color: #b91d47;
    border-width:4px;
    border-style:solid
   
}


