<% content_for :content do %>
<div class="container2" >
  <img src="/chan.jpg" height="150" width="1200" />
  <p class="center-username"><%= @user.name %>的个人健康中心</p>
</div>
  <div class="container about">
    <div class="left-col ">
      <%= render 'basic_infos/aside' %>
    </div>
    <div class="about-content">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
